<div [class.background]="showBackground"></div>
<tui-root>
  <ng-template #notificationTemplate let-notification="data">
    <h2 style="color: #000000">
      {{ "ADMIN.MODAL.NOTIFICATION_TITLE" | translate }}
    </h2>
    <span [innerHTML]="notification.text[language]"></span>

    <div class="notification-template-content">
      <button
        nz-button
        nzSize="small"
        (click)="previousNotification(notification.index)"
        [disabled]="notification.index <= 0"
      >
        <span nz-icon nzType="left" nzTheme="outline"></span>
      </button>
      <span>{{ notification.index + 1 }}/{{ notifications.length }}</span>
      <button
        nz-button
        nzSize="small"
        (click)="nextNotification(notification.index)"
        [disabled]="notification.index + 1 >= notifications.length"
      >
        <span nz-icon nzType="right" nzTheme="outline"></span>
      </button>
    </div>
  </ng-template>

  <app-header *ngIf="isVisible"></app-header>
  <router-outlet></router-outlet>

  <svg style="display: none">
    <filter
      id="glass-distortion"
      x="0%"
      y="0%"
      width="100%"
      height="100%"
      filterUnits="objectBoundingBox"
    >
      <feTurbulence
        type="fractalNoise"
        baseFrequency="0.01 0.01"
        numOctaves="1"
        seed="5"
        result="turbulence"
      />
      <!-- Seeds: 14, 17,  -->

      <feComponentTransfer in="turbulence" result="mapped">
        <feFuncR type="gamma" amplitude="1" exponent="10" offset="0.5" />
        <feFuncG type="gamma" amplitude="0" exponent="1" offset="0" />
        <feFuncB type="gamma" amplitude="0" exponent="1" offset="0.5" />
      </feComponentTransfer>

      <feGaussianBlur in="turbulence" stdDeviation="3" result="softMap" />

      <feSpecularLighting
        in="softMap"
        surfaceScale="5"
        specularConstant="1"
        specularExponent="100"
        lighting-color="white"
        result="specLight"
      >
        <fePointLight x="-200" y="-200" z="300" />
      </feSpecularLighting>

      <feComposite
        in="specLight"
        operator="arithmetic"
        k1="0"
        k2="1"
        k3="1"
        k4="0"
        result="litImage"
      />

      <feDisplacementMap
        in="SourceGraphic"
        in2="softMap"
        scale="150"
        xChannelSelector="R"
        yChannelSelector="G"
      />
    </filter>
  </svg>
</tui-root>
