.forgot {
  .forgot-form {
    max-width: 300px;
    width: 100%;
    min-width: 250px;

    .forgot-form-button {
      width: 100%;
    }

    .forgot-form-mb-10px {
      margin-bottom: 10px;
    }
  }
}
