<div class="forgot background">
  <div class="form-container">
    <div class="form-logo">
      <img src="../../../assets/img/logo.avif" alt="" />
      <h2>RQTimer</h2>
    </div>
    <form
      nz-form
      class="forgot-form"
      [formGroup]="form"
      (ngSubmit)="onChangePassword()"
    >
      <nz-form-item>
        <nz-form-control nzErrorTip="• Введите почту!">
          <nz-input-group nzPrefixIcon="mail" class="br-50px">
            <input
              nz-input
              formControlName="email"
              placeholder="Почта"
              name="mix"
              email
              required
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="• Введите Session ID!">
          <nz-input-group nzPrefixIcon="number" class="br-50px">
            <input
              nz-input
              formControlName="sessionId"
              placeholder="Session ID"
              name="required"
              required
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="passwordErrorTpl">
          <nz-input-group
            nzPrefixIcon="lock"
            [nzSuffix]="suffixTemplate"
            class="br-50px"
          >
            <input
              nz-input
              [type]="passwordVisible ? 'text' : 'password'"
              formControlName="newPassword"
              placeholder="Пароль"
              name="mix"
              minlength="6"
              required
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #passwordErrorTpl let-control>
          <div *ngIf="control.errors?.required">• Введите пароль!</div>
          <div *ngIf="!control.errors?.required && control.errors?.minlength">
            • Минимальная длина пароля 6 символов!
          </div>
          <div *ngIf="!control.errors?.required && control.errors?.maxlength">
            • Максимальная длина пароля 64 символа!
          </div>
          <div
            *ngIf="!control.errors?.required && control.errors?.missingNumber"
          >
            • Пароль должен содержать хотя бы одну цифру!
          </div>
          <div
            *ngIf="
              !control.errors?.required && control.errors?.missingUpperCase
            "
          >
            • Пароль должен содержать хотя бы одну заглавную букву!
          </div>
          <div
            *ngIf="
              !control.errors?.required && control.errors?.missingLowerCase
            "
          >
            • Пароль должен содержать хотя бы одну строчную букву!
          </div>
        </ng-template>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="• Пароль не совпадает!">
          <nz-input-group
            nzPrefixIcon="lock"
            [nzSuffix]="suffixTemplate"
            class="br-50px"
          >
            <input
              nz-input
              [type]="passwordVisible ? 'text' : 'password'"
              formControlName="confirmPassword"
              placeholder="Подтвердите пароль"
              name="mix"
              matching
              required
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <ng-template #suffixTemplate>
        <span
          nz-icon
          [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
          (click)="passwordVisible = !passwordVisible"
        ></span>
      </ng-template>
      <button
        nz-button
        class="forgot-form-button forgot-form-mb-10px"
        [nzType]="'primary'"
        type="submit"
        [disabled]="form.invalid"
      >
        Поменять пароль
      </button>
      <button
        nz-button
        class="forgot-form-button"
        [nzType]="'primary'"
        nzDanger
        (click)="onCancel()"
      >
        Отмена
      </button>
    </form>
  </div>
</div>
