.admin {
  .admin-d-none {
    display: none;
  }

  .admin-d-block {
    display: block;
  }

  h2 {
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .admin-buttons {
    text-align: center;

    app-button {
      display: inline-block;
      margin: 0 5px;
    }
  }

  .generate-form {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;

    .generate-form-input {
      cursor: pointer;
    }

    .generate-form-button {
      width: 100%;
      margin-top: 24px;
    }
  }
}

h4 {
  margin-top: 20px;
}

@media only screen and (max-width: 550px) {
  .admin {
    padding: 5px;

    .admin-buttons {
      button {
        margin: 0 2.5px;
      }
    }
  }
}
