<div class="admin">
  <div style="display: flex; gap: 10px; align-items: baseline">
    <h2>{{ "ADMIN.USER_LIST" | translate }}</h2>
    <button
      nz-button
      nzType="primary"
      nzShape="circle"
      nzSize="small"
      nz-tooltip
      [nzTooltipTitle]="'COMMON.BUTTONS.CREATE_NOTIFICATION' | translate"
      [nzTooltipMouseEnterDelay]="1"
      (click)="showCreateNotificationModal()"
    >
      <span nz-icon nzType="notification"></span>
    </button>
    <nz-modal
      [(nzVisible)]="isCreateNotificationModalVisible"
      (nzOnCancel)="cancelCreateNotificationModal()"
      [nzBodyStyle]="{ maxHeight: '450px', overflow: 'auto' }"
      [nzFooter]="notificationFooter"
    >
      <p *nzModalContent>
        <span
          class="timer-add"
          style="text-align: center; margin-bottom: 20px"
          >{{ "ADMIN.MODAL.NOTIFICATION_TITLE" | translate }}</span
        >

        <span style="margin: 20px 0 11px; display: block; color: #fff">{{
          "ADMIN.MODAL.RUSSIAN" | translate
        }}</span>
        <textarea
          rows="4"
          nz-input
          [(ngModel)]="russianText"
          style="resize: none; border-radius: 15px"
        ></textarea>
        <span style="margin: 20px 0 11px; display: block; color: #fff">{{
          "ADMIN.MODAL.ENGLISH" | translate
        }}</span>
        <textarea
          rows="4"
          nz-input
          [(ngModel)]="englishText"
          style="resize: none; border-radius: 15px"
        ></textarea>
      </p>

      <ng-template #notificationFooter>
        <button
          nz-button
          nzType="default"
          (click)="cancelCreateNotificationModal()"
        >
          {{ "COMMON.BUTTONS.CANCEL" | translate }}
        </button>
        <button
          nz-button
          nzType="primary"
          (click)="confirmCreateNotificationModal()"
          [nzLoading]="isCreateNotificationOkLoading"
          [disabled]="!russianText || !englishText"
        >
          {{ "COMMON.BUTTONS.CREATE" | translate }}
        </button>
      </ng-template>
    </nz-modal>
  </div>
  <nz-table
    #adminTable
    [nzScroll]="{ x: '787px', y: '350px' }"
    [nzData]="userList.data"
    nzShowPagination
    [nzFrontPagination]="false"
    [nzTotal]="userList.total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="userList.page"
    (nzPageIndexChange)="onPageIndexChange($event)"
    [nzLoading]="isTableLoading"
    [nzPaginationType]="!isScreenWidth550 ? 'default' : 'small'"
    [nzSize]="!isScreenWidth550 ? 'default' : 'small'"
  >
    <thead>
      <tr>
        <th nzWidth="75px" nzAlign="center">#</th>
        <th nzCustomFilter>
          {{ "ADMIN.TABLE.NICKNAME" | translate }}
          <nz-filter-trigger
            [(nzVisible)]="isSearchVisible"
            [nzActive]="searchValue.length > 0"
            [nzDropdownMenu]="menu"
          >
            <button
              nz-button
              nzType="primary"
              nzShape="circle"
              nzSize="small"
              nz-tooltip
              [nzTooltipTitle]="'COMMON.BUTTONS.SEARCH' | translate"
              [nzTooltipMouseEnterDelay]="1"
            >
              <span nz-icon nzType="search"></span>
            </button>
          </nz-filter-trigger>
        </th>
        <th
          [nzSortOrder]="null"
          [nzSortFn]="sortRole"
          [nzSortDirections]="['ascend', 'descend', null]"
          nzWidth="100px"
          nzAlign="center"
        >
          {{ "ADMIN.TABLE.ROLE" | translate }}
        </th>
        <th>{{ "ADMIN.TABLE.EMAIL" | translate }}</th>
        <th
          [nzSortOrder]="null"
          [nzSortFn]="sortGroupName"
          [nzSortDirections]="['ascend', 'descend', null]"
        >
          {{ "ADMIN.TABLE.GROUP" | translate }}
        </th>
        <th class="admin-buttons">{{ "ADMIN.TABLE.ACTIONS" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of adminTable.data; let i = index">
        <td nzAlign="center">{{ i + pageSize * (userList.page - 1) + 1 }}</td>
        <td nzCustomFilter>
          {{ user.nickname }}
        </td>
        <td style="text-align: center">
          <nz-tag [nzColor]="getUserColor(user.role)">
            {{ user.role }}
          </nz-tag>
        </td>
        <td>{{ user.email }}</td>
        <td>{{ user.groupName }}</td>
        <td class="admin-buttons">
          <button
            nz-button
            nzType="primary"
            nz-tooltip
            [nzTooltipTitle]="'ADMIN.TABLE.EDIT' | translate"
            [nzTooltipMouseEnterDelay]="1"
            (click)="onShowUserModal(user)"
            nzShape="circle"
          >
            <span nz-icon nzType="edit"></span>
          </button>
          <button
            nz-button
            nzType="primary"
            nzDanger
            nz-tooltip
            [nzTooltipTitle]="'ADMIN.TABLE.DELETE' | translate"
            [nzTooltipMouseEnterDelay]="1"
            (click)="onShowDeleteModal(user.nickname)"
            nzShape="circle"
            *ngIf="currentUser.nickname !== user.nickname"
          >
            <span nz-icon nzType="delete"></span>
          </button>

          <nz-modal
            [(nzVisible)]="user.isUserModalVisible"
            (nzOnCancel)="cancelUserModal(user)"
            (nzOnOk)="confirmUserModal(user)"
            [nzOkLoading]="user.isUserOkLoading"
            [nzBodyStyle]="{ maxHeight: '450px', overflow: 'auto' }"
          >
            <p *nzModalContent>
              <nz-skeleton
                [nzActive]="true"
                *ngIf="isUserDataLoading"
              ></nz-skeleton>

              <span>
                <div
                  class="admin-user-modal-content"
                  *ngIf="!isUserDataLoading"
                >
                  <nz-tag [nzColor]="getUserColor(user.role)"
                    >{{ "ADMIN.USER" | translate }} {{ user.nickname }}
                  </nz-tag>
                  <div
                    class="admin-user-modal-role"
                    *ngIf="currentUser.nickname !== user.nickname"
                  >
                    <h4>
                      <span
                        nz-icon
                        nzType="question-circle"
                        nzTheme="outline"
                        [nzTooltipTitle]="
                          'ADMIN.UPDATE_ROLE_DESCRIPTION' | translate
                        "
                        nzTooltipPlacement="bottom"
                        nz-tooltip
                      ></span>
                      {{ "ADMIN.UPDATE_ROLE_TITLE" | translate }}
                    </h4>
                    <span class="role">{{ "ADMIN.ROLE" | translate }} </span>
                    <nz-select
                      [ngModel]="user.role"
                      style="width: 30%"
                      (ngModelChange)="onRoleChange($event, user.role)"
                    >
                      <nz-option
                        *ngFor="let role of roleList"
                        [nzLabel]="role"
                        [nzValue]="role"
                      ></nz-option>
                    </nz-select>
                  </div>
                  <div class="admin-user-modal-unavailable">
                    <h4>
                      <span
                        nz-icon
                        nzType="question-circle"
                        nzTheme="outline"
                        [nzTooltipTitle]="
                          'ADMIN.UNAVAILABLE_BOSSES_DESCRIPTION' | translate
                        "
                        nzTooltipPlacement="bottom"
                        nz-tooltip
                      ></span>
                      {{ "ADMIN.UNAVAILABLE_BOSSES_TITLE" | translate }}
                    </h4>
                    <tui-reorder
                      class="list"
                      [(enabled)]="availableBossList"
                      [(items)]="bossList"
                    ></tui-reorder>
                    <h4>
                      <span
                        nz-icon
                        nzType="question-circle"
                        nzTheme="outline"
                        [nzTooltipTitle]="
                          'ADMIN.UNAVAILABLE_ELITES_DESCRIPTION' | translate
                        "
                        nzTooltipPlacement="bottom"
                        nz-tooltip
                      ></span>
                      {{ "ADMIN.UNAVAILABLE_ELITES_TITLE" | translate }}
                    </h4>
                    <tui-reorder
                      class="list"
                      [(enabled)]="availableEliteList"
                      [(items)]="eliteList"
                    ></tui-reorder>
                  </div>
                </div>
              </span>
            </p>
          </nz-modal>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="admin-search-nickname">
        <div class="admin-search-input">
          <nz-input-group nzPrefixIcon="user" class="br-50px">
            <input
              type="text"
              nz-input
              [placeholder]="'ADMIN.TABLE.SEARCH_USER' | translate"
              [(ngModel)]="searchValue"
            />
          </nz-input-group>
        </div>
        <button
          nz-button
          nzType="primary"
          (click)="onSearch()"
          class="admin-search-button"
        >
          {{ "COMMON.BUTTONS.SEARCH" | translate }}
        </button>
        <button nz-button (click)="onReset()">
          {{ "COMMON.BUTTONS.RESET" | translate }}
        </button>
      </div>
    </div>
  </nz-dropdown-menu>
</div>
