<div class="admin">
  <nz-tabset nzTabPosition="left">
    <nz-tab [nzTitle]="titleTemplate1">
      <nz-table
        #rowSelectionTable
        [nzScroll]="{ x: '787px', y: '350px' }"
        [nzData]="userList"
        nzShowPagination
        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
        [nzLoading]="isTableLoading"
        [nzPaginationType]="!isScreenWidth550 ? 'default' : 'small'"
      >
        <thead>
          <tr>
            <th nzCustomFilter>
              Никнейм
              <nz-filter-trigger
                [(nzVisible)]="isSearchVisible"
                [nzActive]="searchValue.length > 0"
                [nzDropdownMenu]="menu"
              >
                <button
                  nz-button
                  nzType="primary"
                  nzShape="circle"
                  nzSize="small"
                  nz-tooltip
                  nzTooltipTitle="Поиск"
                  [nzTooltipMouseEnterDelay]="1"
                >
                  <span nz-icon nzType="search"></span>
                </button>
              </nz-filter-trigger>
            </th>
            <th>Роль</th>
            <th>Email</th>
            <th class="admin-buttons">Действия</th>
          </tr>
        </thead>
        <tbody cdkDropList (cdkDropListDropped)="onDrop($event)">
          <tr *ngFor="let user of userList" cdkDrag>
            <td nzCustomFilter>
              {{ user.nickname }}
            </td>
            <td>
              <nz-tag [nzColor]="user.role == 'Admin' ? 'red' : 'green'">
                {{ user.role }}
              </nz-tag>
            </td>
            <td>{{ user.email }}</td>
            <td class="admin-buttons">
              <button
                nz-button
                nzType="primary"
                nz-tooltip
                nzTooltipTitle="Редактировать"
                [nzTooltipMouseEnterDelay]="1"
                (click)="onShowUserModal(user)"
                nzShape="circle"
              >
                <span nz-icon nzType="edit"></span>
              </button>
              <button
                nz-button
                nzType="primary"
                nzDanger
                nz-tooltip
                nzTooltipTitle="Удалить"
                [nzTooltipMouseEnterDelay]="1"
                (click)="onShowDeleteModal(user.nickname)"
                nzShape="circle"
                *ngIf="currentUser.nickname !== user.nickname"
              >
                <span nz-icon nzType="delete"></span>
              </button>

              <nz-modal
                [(nzVisible)]="user.isUserModalVisible"
                (nzOnCancel)="cancelUserModal(user)"
                (nzOnOk)="confirmUserModal(user)"
                [nzOkLoading]="user.isUserOkLoading"
                [nzBodyStyle]="{ maxHeight: '450px', overflow: 'scroll' }"
              >
                <p *nzModalContent>
                  <nz-skeleton *ngIf="isUserDataLoading"></nz-skeleton>

                  <span>
                    <div
                      class="admin-user-modal-content"
                      *ngIf="!isUserDataLoading"
                    >
                      <nz-tag [nzColor]="user.role == 'Admin' ? 'red' : 'green'"
                        >Пользователь: {{ user.nickname }}
                      </nz-tag>
                      <div
                        class="admin-user-modal-role"
                        *ngIf="currentUser.nickname !== user.nickname"
                      >
                        <h4>
                          <span
                            nz-icon
                            nzType="question-circle"
                            nzTheme="outline"
                            nzTooltipTitle="Обновить роль для выбранного пользователя."
                            nzTooltipPlacement="bottom"
                            nz-tooltip
                          ></span>
                          Обновить роль:
                        </h4>
                        <span>Роль: </span>
                        <nz-select
                          [ngModel]="user.role"
                          style="width: 30%"
                          (ngModelChange)="onRoleChange($event, user.role)"
                        >
                          <nz-option
                            *ngFor="let role of roleList"
                            [nzLabel]="role"
                            [nzValue]="role"
                          ></nz-option>
                        </nz-select>
                      </div>
                      <div class="admin-user-modal-unavailable">
                        <h4>
                          <span
                            nz-icon
                            nzType="question-circle"
                            nzTheme="outline"
                            nzTooltipTitle="Выберите боссов для исключения для выбранного пользователя."
                            nzTooltipPlacement="bottom"
                            nz-tooltip
                          ></span>
                          Выберите боссов для исключения:
                        </h4>
                        <tui-reorder
                          class="list"
                          [(enabled)]="availableBossList"
                          [(items)]="bossList"
                        ></tui-reorder>
                        <h4>
                          <span
                            nz-icon
                            nzType="question-circle"
                            nzTheme="outline"
                            nzTooltipTitle="Выберите элиток для исключения для выбранного пользователя."
                            nzTooltipPlacement="bottom"
                            nz-tooltip
                          ></span>
                          Выберите элиток для исключения:
                        </h4>
                        <tui-reorder
                          class="list"
                          [(enabled)]="availableEliteList"
                          [(items)]="eliteList"
                        ></tui-reorder>
                      </div>
                    </div>
                  </span>
                </p>
              </nz-modal>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-tab>
    <nz-tab [nzTitle]="titleTemplate2">
      <div class="generate-form">
        <nz-input-group nzPrefixIcon="number" class="br-50px">
          <input
            class="generate-form-input"
            nz-input
            type="text"
            [(ngModel)]="sessionId"
            (click)="onSessionIdClick(sessionId)"
            readonly
          />
        </nz-input-group>
        <button
          nz-button
          class="generate-form-button"
          [nzType]="'primary'"
          type="submit"
          (click)="onGenerateSessionId()"
          [nzLoading]="isGenerateLoading"
        >
          Сгенерировать
        </button>
      </div>
    </nz-tab>
    <nz-tab [nzTitle]="titleTemplate3">Content of Tab Pane 3</nz-tab>
  </nz-tabset>

  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="admin-search-nickname">
        <input
          type="text"
          nz-input
          placeholder="Поиск юзера..."
          [(ngModel)]="searchValue"
        />
        <button
          nz-button
          nzType="primary"
          (click)="onSearch()"
          class="admin-search-button"
        >
          Поиск
        </button>
        <button nz-button (click)="onReset()">Сброс</button>
      </div>
    </div>
  </nz-dropdown-menu>

  <ng-template #titleTemplate1>
    <span nz-icon nzType="usergroup-add"></span>
    <span
      [ngClass]="{
        'admin-d-none': isScreenWidth800
      }"
      >Список юзеров</span
    >
  </ng-template>
  <ng-template #titleTemplate2>
    <span nz-icon nzType="number"></span>
    <span
      [ngClass]="{
        'admin-d-none': isScreenWidth800
      }"
      >Session ID</span
    >
  </ng-template>
  <ng-template #titleTemplate3>
    <span nz-icon nzType="question-circle"></span>
    <span
      [ngClass]="{
        'admin-d-none': isScreenWidth800
      }"
      >Пидорас</span
    >
  </ng-template>
</div>
