.mob-modal {
  .mob-modal-mb-10px {
    margin-bottom: 10px;
  }

  .mob-modal-mr-5px {
    margin-right: 5px;
  }

  .mob-modal-ml-0 {
    margin-left: 0;
  }

  .mob-modal-d-flex-space-between {
    display: flex;
    justify-content: space-between;
  }

  .mob-modal-bottom-left {
    margin: 16px;
  }
}
