.timer {
  padding: 10px 0;
  height: calc(100vh - 54px);

  .orange {
    background-color: #fcdc94;
    // background-color: #b18b01;
    // background-color: rgba(177, 139, 1, 0.7);
  }

  .green {
    background-color: #bacd92;
    // background-color: #64b101;
    // background-color: rgba(100, 177, 1, 0.7);
  }

  .white {
    background-color: rgba(255, 255, 255, 0.7);
  }

  .red {
    background-color: #ef9595;
  }

  .gray {
    background-color: rgba(255, 255, 255, 0.7);
  }

  nz-list-item {
    margin-bottom: 10px;
  }

  nz-badge {
    width: 100%;
  }

  .form-container {
    padding: 20px 50px;
    text-align: center;
    max-width: 500px;
    width: 100%;
    min-width: 250px;

    h1 {
      color: #000000;
    }

    .btn-group {
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  }

  .timer-d-flex-space-between {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;

    .timer-left {
      display: flex;
      align-items: center;
      h2 {
        margin-bottom: 0;
      }
      span {
        align-self: center;
      }
    }

    .timer-right {
      .timer-action-menu-mob {
        display: none;
      }

      .timer-action-menu {
        .timer-plus-cooldown {
          width: auto;
          z-index: 2;
        }

        .timer-cd-button {
          width: 32px;
          padding: 0;
        }
      }
    }

    .timer-mx-10px {
      margin: 0 10px;
    }

    .timer-d-none {
      display: none;
    }
  }

  .timer-create-mobs-button {
    display: block;
    margin: 2.5px auto;
  }
}

@media only screen and (max-width: 1000px) {
  .timer {
    padding: 10px;

    .timer-center {
      .timer-die-button {
        width: 32px;
        height: 32px;
        padding: 2.4px 0;
        font-size: 16px;
        border-radius: 50px;
        vertical-align: -3px;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .timer {
    .timer-d-flex-space-between {
      .timer-right {
        .timer-action-menu-mob {
          display: block;
        }

        .timer-action-menu {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .timer {
    nz-list-item {
      margin-bottom: 5px;
    }

    .timer-d-flex-space-between {
      padding: 5px;
      border-radius: 50px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .timer {
    height: calc(100vh - 44px);

    .form-container {
      padding: 20px 40px;

      .btn-group {
        flex-direction: column;
      }
    }
  }
}
