<nz-skeleton *ngIf="isLoading" class="container"></nz-skeleton>

<div class="timer container" *ngIf="!isLoading">
  <nz-list nzItemLayout="horizontal">
    <nz-badge *ngFor="let item of timerList" [nzCount]="item.cooldown">
      <nz-list-item
        class="timer-d-flex-space-between box-shadow"
        [ngClass]="
          item.respawnTime ? (item.cooldown ? 'orange' : 'green') : 'white'
        "
        (click)="onClickTimerItem(item)"
      >
        <div class="timer-left">
          <nz-list-item-meta [nzAvatar]="item.image"> </nz-list-item-meta>
          <nz-list-item-meta-title>
            <nz-countdown
              [nzValue]="item.respawnTime"
              [nzFormat]="'HH:mm:ss'"
            ></nz-countdown>
            <span class="timer-mx-10px">
              {{
                item.deathTime
                  ? (item.deathTime | date : "HH:mm:ss")
                  : "00:00:00"
              }}
            </span>
            <nz-progress
              [nzPercent]="70"
              nzStatus="active"
              nzSize="small"
              [nzStrokeWidth]="10"
            ></nz-progress>
            <span>
              {{
                item.respawnTime
                  ? (item.respawnTime | date : "HH:mm:ss")
                  : "00:00:00"
              }}
            </span>
          </nz-list-item-meta-title>
        </div>
        <div class="timer-center">
          <nz-list-item-meta-title>
            <button
              nz-button
              nzType="primary"
              (click)="showDeathModal(item)"
              nz-tooltip
              nzTooltipTitle="Переписать по точному времени смерти"
              [nzTooltipMouseEnterDelay]="1"
            >
              <span nz-icon nzType="edit"></span>Переписать
            </button>
            <nz-modal
              [(nzVisible)]="isVisible"
              (nzOnCancel)="cancelDeathModal()"
              (nzOnOk)="confirmDeathModal()"
              [nzOkLoading]="isOkLoading"
            >
              <p *nzModalContent>
                Выберите точное время смерти:
                <br />
                <nz-date-picker [(ngModel)]="currentTime"></nz-date-picker>
                <nz-time-picker [(ngModel)]="currentTime"> </nz-time-picker>
              </p>
            </nz-modal>
            <button
              nz-button
              nzType="primary"
              (click)="onDieNow(item)"
              nz-tooltip
              nzTooltipTitle="Переписать по (текущему времени - 10 сек)"
              [nzTooltipMouseEnterDelay]="1"
            >
              <span nz-icon nzType="scan"></span>
              Упал сейчас
            </button>
          </nz-list-item-meta-title>
        </div>
        <div class="timer-right">
          <nz-list-item-meta-title>
            <button
              nz-button
              nzType="primary"
              nz-tooltip
              nzTooltipTitle="История переписи босса/элитки"
              [nzTooltipMouseEnterDelay]="1"
            >
              <span nz-icon nzType="history"></span>
            </button>
            <nz-badge
              [nzCount]="item.plusCooldown"
              class="timer-plus-cooldown"
              [nzOffset]="[-7, 3]"
            >
              <button
                nz-button
                nzType="primary"
                (click)="onPlusCooldown(item)"
                nz-tooltip
                nzTooltipTitle="Симуляция следующего кдшного респа"
                [nzTooltipMouseEnterDelay]="1"
              >
                <span nz-icon nzType="step-forward"></span>
              </button>
            </nz-badge>
            <button
              nz-button
              nzType="primary"
              class="timer-cd-button"
              (click)="onSetByCooldownTime(item)"
              nz-tooltip
              nzTooltipTitle="Переписать по кд"
              [nzTooltipMouseEnterDelay]="1"
            >
              <span>CD</span>
            </button>
            <button
              nz-button
              nzType="primary"
              (click)="onLostCooldown(item)"
              nz-tooltip
              nzTooltipTitle="Респ утерян"
              [nzTooltipMouseEnterDelay]="1"
            >
              <span nz-icon nzType="fall"></span>
            </button>
          </nz-list-item-meta-title>
        </div>
      </nz-list-item>
    </nz-badge>
    <nz-list-empty *ngIf="timerList.length === 0"></nz-list-empty>
  </nz-list>
</div>
