.timer {
  padding: 10px 0;

  .orange {
    background-color: #b18b01;
  }

  .green {
    background-color: #64b101;
  }

  .white {
    background-color: #ffff;
  }

  .red {
    background-color: #700000;
  }

  .gray {
    background-color: #e9ecef;
  }

  nz-badge {
    width: 100%;

    nz-list-item {
      margin-bottom: 10px;
    }

    .timer-d-flex-space-between {
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;

      .timer-left {
        display: flex;
        align-items: center;
        h2 {
          margin-bottom: 0;
        }
        span {
          align-self: center;
        }
      }

      .timer-right {
        .timer-action-menu-mob {
          display: none;
        }

        .timer-action-menu {
          .timer-plus-cooldown {
            width: auto;
            z-index: 2;
          }

          .timer-cd-button {
            width: 32px;
            padding: 0;
          }
        }
      }
    }

    .timer-mx-10px {
      margin: 0 10px;
    }

    .timer-d-none {
      display: none;
    }
  }

  .timer-create-mobs-button {
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1000px) {
  .timer {
    padding: 10px;

    .timer-center {
      .timer-die-button {
        width: 32px;
        height: 32px;
        padding: 2.4px 0;
        font-size: 16px;
        border-radius: 2px;
        vertical-align: -3px;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .timer {
    nz-badge {
      .timer-d-flex-space-between {
        .timer-right {
          .timer-action-menu-mob {
            display: block;
          }

          .timer-action-menu {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .timer {
    nz-badge {
      nz-list-item {
        margin-bottom: 5px;
      }

      .timer-d-flex-space-between {
        padding: 5px;
        border-radius: 5px;
      }
    }
  }
}
