<nz-skeleton *ngIf="isLoading | async" class="container"></nz-skeleton>

<div class="timer container" *ngIf="!(isLoading | async)">
  <nz-list nzItemLayout="horizontal">
    <nz-badge *ngFor="let item of timerList" [nzCount]="item.mobData.cooldown">
      <nz-list-item
        class="timer-d-flex-space-between box-shadow"
        [ngClass]="
          item.mobData.respawnTime
            ? item.mobData.cooldown
              ? 'orange'
              : 'green'
            : 'white'
        "
        (click)="onClickTimerItem(item)"
      >
        <div class="timer-left">
          <nz-list-item-meta
            [nzAvatar]="item.mob.image ? 'https://' + item.mob.image : ''"
          >
          </nz-list-item-meta>
          <nz-list-item-meta-title>
            <nz-countdown
              [nzValue]="item.mobData.respawnTime"
              [nzFormat]="'HH:mm:ss'"
              [nzValueStyle]="{ color: '#3F8600' }"
              [nzValueStyle]="
                item.mobData.respawnTime &&
                item.mobData.respawnTime - this.currentProgressTime <= 300000
                  ? { color: '#DF0300' }
                  : {}
              "
            ></nz-countdown>
            <span
              class="timer-mx-10px"
              [ngClass]="{
                'timer-d-none': isScreenWidth750
              }"
            >
              {{
                item.mobData.deathTime
                  ? (item.mobData.deathTime | date : "HH:mm:ss")
                  : "00:00:00"
              }}
            </span>
            <nz-progress
              [nzPercent]="updatePercent(item)"
              [nzStatus]="updatePercent(item) >= 100 ? 'exception' : 'active'"
              nzSize="small"
              [nzStrokeWidth]="10"
              [ngClass]="{
                'timer-d-none': isScreenWidth750
              }"
            ></nz-progress>
            <span
              [ngClass]="{
                'timer-mx-10px': isScreenWidthInZone,
                'timer-d-none': isScreenWidth372
              }"
            >
              {{
                item.mobData.respawnTime
                  ? (item.mobData.respawnTime | date : "HH:mm:ss")
                  : "00:00:00"
              }}
            </span>
          </nz-list-item-meta-title>
        </div>
        <div class="timer-center">
          <nz-list-item-meta-title>
            <button
              nz-button
              nzType="primary"
              (click)="showDeathModal(item)"
              nz-tooltip
              nzTooltipTitle="Переписать вручную"
              [nzTooltipMouseEnterDelay]="1"
              class="timer-die-button"
            >
              <span nz-icon nzType="edit"></span>
              <span [ngClass]="{ 'timer-d-none': isScreenWidth1000 }"
                >Переписать</span
              >
            </button>
            <nz-modal
              [(nzVisible)]="item.mob.isDeathModalVisible"
              (nzOnCancel)="cancelDeathModal(item)"
              (nzOnOk)="confirmDeathModal(item)"
              [nzOkLoading]="item.mob.isDeathOkLoading"
            >
              <p *nzModalContent>
                <nz-radio-group [(ngModel)]="radioValue">
                  <label nz-radio nzValue="A"
                    >Выберите точное время смерти:</label
                  >
                  <div class="timer-radio-option">
                    <nz-date-picker [(ngModel)]="currentTime"></nz-date-picker>
                    <nz-time-picker [(ngModel)]="currentTime"> </nz-time-picker>
                  </div>
                  <label nz-radio nzValue="B"
                    >Выберите точное время респауна:</label
                  >
                  <div class="timer-radio-option">
                    <nz-date-picker [(ngModel)]="currentTime"></nz-date-picker>
                    <nz-time-picker [(ngModel)]="currentTime"> </nz-time-picker>
                  </div>
                  <label nz-radio nzValue="C"
                    >Впишите, сколько раз по кд:</label
                  >
                  <div class="timer-radio-option">
                    <nz-space>
                      <nz-input-number-group
                        *nzSpaceItem
                        nzPrefix="CD"
                        style="width: 120px; margin-top: 10px"
                      >
                        <nz-input-number
                          [(ngModel)]="cooldown"
                          [nzMin]="1"
                          [nzMax]="10"
                          [nzStep]="1"
                        ></nz-input-number>
                      </nz-input-number-group>
                    </nz-space>
                  </div>
                </nz-radio-group>
              </p>
            </nz-modal>
            <button
              nz-button
              nzType="primary"
              (click)="onDieNow(item)"
              nz-tooltip
              nzTooltipTitle="Переписать по (текущему времени - 10 сек)"
              [nzTooltipMouseEnterDelay]="1"
              class="timer-die-button"
            >
              <span nz-icon nzType="scan"></span>
              <span [ngClass]="{ 'timer-d-none': isScreenWidth1000 }"
                >Упал сейчас</span
              >
            </button>
          </nz-list-item-meta-title>
        </div>
        <div class="timer-right">
          <div class="timer-action-menu">
            <nz-list-item-meta-title>
              <button
                nz-button
                nzType="primary"
                (click)="showHistoryModal(item)"
                nz-tooltip
                nzTooltipTitle="История переписи {{ item.mob.mobName }}"
                [nzTooltipMouseEnterDelay]="1"
              >
                <span nz-icon nzType="history"></span>
              </button>
              <nz-modal
                [(nzVisible)]="item.mob.isHistoryModalVisible"
                (nzOnCancel)="cancelHistoryModal(item)"
                (nzOnOk)="confirmHistoryModal(item)"
                [nzOkLoading]="item.mob.isHistoryOkLoading"
                [nzBodyStyle]="{ maxHeight: '450px', overflow: 'scroll' }"
              >
                <p *nzModalContent>
                  <nz-skeleton *ngIf="isHistoryLoading | async"></nz-skeleton>
                  <app-log
                    *ngIf="!(isHistoryLoading | async)"
                    [historyList]="historyList"
                    [historyListData]="historyListData"
                    [mobName]="item.mob.mobName"
                  ></app-log>
                </p>
              </nz-modal>
              <nz-badge
                [nzCount]="item.mob.plusCooldown"
                class="timer-plus-cooldown"
                [nzOffset]="[-7, 3]"
              >
                <button
                  nz-button
                  nzType="primary"
                  (click)="onPlusCooldown(item)"
                  nz-tooltip
                  nzTooltipTitle="Симуляция следующего кдшного респа"
                  [nzTooltipMouseEnterDelay]="1"
                >
                  <span nz-icon nzType="step-forward"></span>
                </button>
              </nz-badge>
              <button
                nz-button
                nzType="primary"
                class="timer-cd-button"
                (click)="onSetByCooldownTime(item)"
                nz-tooltip
                nzTooltipTitle="Переписать по кд"
                [nzTooltipMouseEnterDelay]="1"
              >
                <span>CD</span>
              </button>
              <button
                nz-button
                nzType="primary"
                (click)="onLostCooldown(item)"
                nz-tooltip
                nzTooltipTitle="Респ утерян"
                [nzTooltipMouseEnterDelay]="1"
              >
                <span nz-icon nzType="fall"></span>
              </button>
            </nz-list-item-meta-title>
          </div>

          <div class="timer-action-menu-mob">
            <button
              nzType="primary"
              nz-button
              nz-dropdown
              nzTrigger="click"
              [nzDropdownMenu]="menu"
              nzPlacement="bottomRight"
            >
              <span nz-icon nzType="menu-unfold"></span>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <button
                nz-button
                nzType="primary"
                (click)="showHistoryModal(item)"
                nz-tooltip
                nzTooltipTitle="История переписи {{ item.mob.mobName }}"
                [nzTooltipMouseEnterDelay]="1"
              >
                <span nz-icon nzType="history"></span>
              </button>
              <nz-badge
                [nzCount]="item.mob.plusCooldown"
                class="timer-plus-cooldown"
                [nzOffset]="[-7, 3]"
              >
                <button
                  nz-button
                  nzType="primary"
                  (click)="onPlusCooldown(item)"
                  nz-tooltip
                  nzTooltipTitle="Симуляция следующего кдшного респа"
                  [nzTooltipMouseEnterDelay]="1"
                >
                  <span nz-icon nzType="step-forward"></span>
                </button>
              </nz-badge>
              <button
                nz-button
                nzType="primary"
                (click)="onSetByCooldownTime(item)"
                nz-tooltip
                nzTooltipTitle="Переписать по кд"
                [nzTooltipMouseEnterDelay]="1"
                style="width: 32px; padding: 0"
              >
                <span>CD</span>
              </button>
              <button
                nz-button
                nzType="primary"
                (click)="onLostCooldown(item)"
                nz-tooltip
                nzTooltipTitle="Респ утерян"
                [nzTooltipMouseEnterDelay]="1"
              >
                <span nz-icon nzType="fall"></span>
              </button>
            </nz-dropdown-menu>
          </div>
        </div>
      </nz-list-item>
    </nz-badge>
    <nz-list-empty *ngIf="timerList.length === 0"></nz-list-empty>
  </nz-list>
</div>

<nz-back-top [nzVisibilityHeight]="300"></nz-back-top>
