<nz-skeleton
  [nzActive]="true"
  *ngIf="isLoading | async"
  class="container"
></nz-skeleton>

<div *ngIf="!userGroupName && !(isLoading | async)">
  <div class="timer container">
    <div class="form-container">
      <h1>Уважаемый(ая), {{ currentUser.nickname }}</h1>
      <p>
        В данный момент, Вы не состоите в группе, но Вы можете создать группу
        или вступить в уже существующую.
      </p>
      <div class="btn-group">
        <button
          nz-button
          nzType="primary"
          nzShape="round"
          [nzLoading]="isCreateGroupLoading"
          (click)="showCreateGroupModal()"
        >
          Создать группу
        </button>
        <button
          nz-button
          nzType="primary"
          nzShape="round"
          [nzLoading]="isJoinGroupLoading"
          (click)="showJoinGroupModal()"
        >
          Присоединиться к группе
        </button>
      </div>

      <nz-modal
        [(nzVisible)]="isGroupModalVisible"
        [nzFooter]="groupFooter"
        (nzOnCancel)="cancelGroupModal()"
        nzCentered
      >
        <p *nzModalContent class="modal-center">
          <span class="group-modal-name">{{ groupModalName }}</span>
          <nz-input-group nzPrefixIcon="number" class="br-50px group-input">
            <input
              nz-input
              type="text"
              [(ngModel)]="groupInputValue"
              (ngModelChange)="onGroupValueChange($event)"
              [placeholder]="groupModalPlaceholder"
            />
          </nz-input-group>
        </p>

        <ng-template #groupFooter>
          <button nz-button nzType="default" (click)="cancelGroupModal()">
            Отмена
          </button>
          <button
            nz-button
            nzType="primary"
            [disabled]="isGroupModalDisabled"
            (click)="confirmGroupModal()"
            [nzLoading]="isGroupModalLoading"
          >
            {{ groupOkButton }}
          </button>
        </ng-template>
      </nz-modal>
    </div>
  </div>
</div>

<div class="timer container" *ngIf="userGroupName && !(isLoading | async)">
  <nz-list nzItemLayout="horizontal">
    <nz-badge
      *ngFor="let item of timerList"
      [nzCount]="item.mobData.cooldown"
      [nzOffset]="[-5, 5]"
    >
      <nz-list-item
        class="timer-d-flex-space-between box-shadow"
        [ngClass]="
          item.mobData.respawnTime
            ? item.mobData.cooldown
              ? 'orange'
              : this.currentProgressTime > item.mobData.respawnTime
                ? 'red'
                : item.mob.mobName === 'Эдвард' ||
                    item.mob.mobName === 'Воко' ||
                    item.mob.mobName === 'Денгур Кровавый топор'
                  ? 'blue'
                  : 'green'
            : 'white'
        "
        (click)="onClickTimerItem(item)"
      >
        <div class="timer-left">
          <nz-list-item-meta
            class="timer-avatar"
            [nzAvatar]="
              item.mob.image
                ? 'https://www.rqtimer.ru/static/' + item.mob.image
                : ''
            "
            nz-tooltip
            [nzTooltipTitle]="item.mob.mobName + ' - ' + item.mob.location"
            [nzTooltipMouseEnterDelay]="1"
            (click)="showInfoModal(item)"
          >
          </nz-list-item-meta>
          <nz-list-item-meta-title>
            <nz-countdown
              *ngIf="item.mobData.respawnTime"
              [nzValue]="item.mobData.respawnTime"
              [nzFormat]="'HH:mm:ss'"
              [nzValueStyle]="
                item.mobData.respawnTime - this.currentProgressTime <= 300000
                  ? { color: '#ff4d4f' }
                  : {}
              "
            ></nz-countdown>
            <nz-countdown
              *ngIf="!item.mobData.respawnTime"
              [nzValue]="undefined"
              [nzFormat]="'HH:mm:ss'"
            ></nz-countdown>
            <span
              class="timer-mx-10px"
              [ngClass]="{
                'timer-d-none': isScreenWidth750,
              }"
            >
              {{
                item.mobData.deathTime
                  ? (item.mobData.deathTime | date: "HH:mm:ss")
                  : "00:00:00"
              }}
            </span>
            <nz-progress
              [nzPercent]="updatePercent(item)"
              [nzStatus]="updatePercent(item) >= 100 ? 'exception' : 'active'"
              nzSize="small"
              [nzStrokeWidth]="10"
              [ngClass]="{
                'timer-d-none': isScreenWidth800,
              }"
            ></nz-progress>
            <span
              [ngClass]="{
                'timer-mx-10px': isScreenWidthInZone,
                'timer-d-none': isScreenWidth372,
              }"
            >
              {{
                item.mobData.respawnTime
                  ? (item.mobData.respawnTime | date: "HH:mm:ss")
                  : "00:00:00"
              }}
            </span>
          </nz-list-item-meta-title>
        </div>
        <div class="timer-center">
          <nz-list-item-meta-title>
            <button
              nz-button
              nzType="primary"
              (click)="showDeathModal(item)"
              nz-tooltip
              nzTooltipTitle="Переписать вручную"
              [nzTooltipMouseEnterDelay]="1"
              class="timer-die-button"
              nzShape="round"
            >
              <span nz-icon nzType="edit"></span>
              <span [ngClass]="{ 'timer-d-none': isScreenWidth1000 }"
                >Переписать</span
              >
            </button>
            <nz-modal
              [(nzVisible)]="item.mob.isDeathModalVisible"
              (nzOnCancel)="cancelDeathModal(item)"
              (nzOnOk)="confirmDeathModal(item)"
              [nzOkLoading]="item.mob.isDeathOkLoading"
              nzCentered
            >
              <p *nzModalContent>
                <span class="timer-mob-name">{{ item.mob.mobName }}</span>
                <span class="timer-mob-location">{{ item.mob.location }}</span>
                <nz-radio-group [(ngModel)]="radioValue">
                  <label nz-radio nzValue="death"
                    >Выберите точное время смерти:
                  </label>
                  <div class="timer-radio-option">
                    <nz-date-picker
                      [(ngModel)]="currentTime"
                      (click)="onFocus($event)"
                    ></nz-date-picker>
                    <nz-time-picker
                      [(ngModel)]="currentTime"
                      (click)="onFocus($event)"
                    >
                    </nz-time-picker>
                  </div>
                  <label nz-radio nzValue="respawn"
                    >Выберите точное время респауна:
                  </label>
                  <div class="timer-radio-option">
                    <nz-date-picker
                      [(ngModel)]="currentTime"
                      (click)="onFocus($event)"
                    ></nz-date-picker>
                    <nz-time-picker
                      [(ngModel)]="currentTime"
                      (click)="onFocus($event)"
                    >
                    </nz-time-picker>
                  </div>

                  <label nz-radio nzValue="cd"
                    >Впишите, сколько раз по кд:
                  </label>
                  <div class="timer-radio-option">
                    <nz-space>
                      <nz-input-group
                        *nzSpaceItem
                        style="width: 120px; margin-top: 10px"
                      >
                        <input
                          nz-input
                          [(ngModel)]="cooldown"
                          type="number"
                          min="1"
                          max="10"
                          step="1"
                          class="br-50px"
                          (click)="onFocus($event)"
                        />
                      </nz-input-group>
                    </nz-space>
                  </div>
                </nz-radio-group>
              </p>
            </nz-modal>
            <button
              nz-button
              nzType="primary"
              (click)="onDieNow(item)"
              nz-tooltip
              nzTooltipTitle="Переписать по (текущему времени - 10 сек)"
              [nzTooltipMouseEnterDelay]="1"
              class="timer-die-button"
              [nzLoading]="item.mob.isOnDieNow"
              nzShape="round"
            >
              <span nz-icon nzType="scan"></span>
              <span [ngClass]="{ 'timer-d-none': isScreenWidth1000 }"
                >Упал сейчас</span
              >
            </button>
          </nz-list-item-meta-title>
        </div>
        <div class="timer-right">
          <div class="timer-action-menu">
            <nz-list-item-meta-title>
              <button
                nz-button
                nzType="primary"
                (click)="showHistoryModal(item)"
                nz-tooltip
                nzTooltipTitle="История переписи {{ item.mob.mobName }}"
                [nzTooltipMouseEnterDelay]="1"
                nzShape="circle"
              >
                <span nz-icon nzType="history"></span>
              </button>
              <nz-modal
                [(nzVisible)]="item.mob.isHistoryModalVisible"
                (nzOnCancel)="cancelHistoryModal(item)"
                (nzOnOk)="confirmHistoryModal(item)"
                [nzOkLoading]="item.mob.isHistoryOkLoading"
                [nzBodyStyle]="{ maxHeight: '450px', overflow: 'auto' }"
              >
                <p *nzModalContent>
                  <nz-skeleton
                    [nzActive]="true"
                    *ngIf="isHistoryLoading | async"
                  ></nz-skeleton>
                  <app-log
                    *ngIf="!(isHistoryLoading | async)"
                    [historyList]="historyList"
                    [historyListData]="historyListData"
                    [mobName]="item.mob.mobName"
                  ></app-log>
                </p>
              </nz-modal>
              <nz-badge
                [nzCount]="item.mob.plusCooldown"
                class="timer-plus-cooldown"
                [nzOffset]="[-7, 3]"
              >
                <button
                  nz-button
                  nzType="primary"
                  nz-tooltip
                  nzTooltipTitle="Симуляция следующего кдшного респа"
                  [nzTooltipMouseEnterDelay]="1"
                  (click)="onPlusCooldown(item)"
                  nzShape="circle"
                >
                  <span nz-icon nzType="step-forward"></span>
                </button>
              </nz-badge>
              <button
                nz-button
                nzType="primary"
                class="timer-cd-button"
                (click)="onSetByCooldownTime(item)"
                nz-tooltip
                nzTooltipTitle="Переписать по кд"
                [nzTooltipMouseEnterDelay]="1"
                nzShape="circle"
              >
                <span>CD</span>
              </button>
              <button
                nz-button
                nzType="primary"
                (click)="onLostCooldown(item)"
                nz-tooltip
                nzTooltipTitle="Респ утерян"
                [nzTooltipMouseEnterDelay]="1"
                nzShape="circle"
              >
                <span nz-icon nzType="fall"></span>
              </button>
              <nz-modal
                [(nzVisible)]="item.mob.isInfoModalVisible"
                [nzFooter]="infoFooter"
                (nzOnCancel)="cancelInfoModal(item)"
              >
                <p *nzModalContent>
                  <app-mob-modal [item]="item"></app-mob-modal>
                </p>

                <ng-template #infoFooter>
                  <button
                    nz-button
                    nzType="default"
                    (click)="cancelInfoModal(item)"
                  >
                    Отмена
                  </button>
                </ng-template>
              </nz-modal>

              <button
                nz-button
                nzType="primary"
                (click)="showDeleteModal(item)"
                nz-tooltip
                nzTooltipTitle="Удалить"
                nzDanger
                [nzTooltipMouseEnterDelay]="1"
                *ngIf="currentUser.isGroupLeader === true"
                nzShape="circle"
              >
                <span nz-icon nzType="delete"></span>
              </button>
            </nz-list-item-meta-title>
          </div>

          <div class="timer-action-menu-mob">
            <button
              nzType="primary"
              nz-button
              nz-dropdown
              nzTrigger="click"
              (click)="$event.stopPropagation()"
              [nzDropdownMenu]="menu"
              nzPlacement="bottomRight"
              nzShape="circle"
            >
              <span nz-icon nzType="menu-unfold"></span>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <button
                nz-button
                nzType="primary"
                (click)="showHistoryModal(item)"
                nz-tooltip
                nzTooltipTitle="История переписи {{ item.mob.mobName }}"
                [nzTooltipMouseEnterDelay]="1"
                nzShape="circle"
              >
                <span nz-icon nzType="history"></span>
              </button>
              <nz-badge
                [nzCount]="item.mob.plusCooldown"
                class="timer-plus-cooldown"
                [nzOffset]="[-7, 3]"
              >
                <button
                  nz-button
                  nzType="primary"
                  (click)="onPlusCooldown(item)"
                  nz-tooltip
                  nzTooltipTitle="Симуляция следующего кдшного респа"
                  [nzTooltipMouseEnterDelay]="1"
                  nzShape="circle"
                >
                  <span nz-icon nzType="step-forward"></span>
                </button>
              </nz-badge>
              <button
                nz-button
                nzType="primary"
                (click)="onSetByCooldownTime(item)"
                nz-tooltip
                nzTooltipTitle="Переписать по кд"
                [nzTooltipMouseEnterDelay]="1"
                style="width: 32px; padding: 0"
                nzShape="circle"
              >
                <span>CD</span>
              </button>
              <button
                nz-button
                nzType="primary"
                (click)="onLostCooldown(item)"
                nz-tooltip
                nzTooltipTitle="Респ утерян"
                [nzTooltipMouseEnterDelay]="1"
                nzShape="circle"
              >
                <span nz-icon nzType="fall"></span>
              </button>
              <button
                nz-button
                nzType="primary"
                (click)="showDeleteModal(item)"
                nz-tooltip
                nzTooltipTitle="Удалить"
                nzDanger
                [nzTooltipMouseEnterDelay]="1"
                *ngIf="currentUser.isGroupLeader === true"
                nzShape="circle"
              >
                <span nz-icon nzType="delete"></span>
              </button>
            </nz-dropdown-menu>
          </div>
        </div>
      </nz-list-item>
    </nz-badge>
    <nz-list-item
      class="box-shadow timer-d-flex-space-between"
      [ngClass]="'white'"
      *ngIf="currentUser.isGroupLeader === true"
    >
      <button
        nz-button
        nzType="default"
        nz-tooltip
        nzTooltipTitle="Создание босса/элитки"
        [nzTooltipMouseEnterDelay]="1"
        nzShape="circle"
        class="timer-create-mobs-button"
        (click)="showAddModal()"
      >
        <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
      </button>
      <nz-modal
        [(nzVisible)]="isAddModalVisible"
        [nzFooter]="addFooter"
        (nzOnCancel)="cancelAddModal()"
      >
        <p *nzModalContent></p>

        <ng-template #addFooter>
          <button nz-button nzType="default" (click)="cancelAddModal()">
            Отмена
          </button>
          <button
            nz-button
            nzType="primary"
            [disabled]="isAddOkDisabled"
            (click)="showAddModal()"
            [nzLoading]="isAddOkLoading"
          >
            Создать
          </button>
        </ng-template>
      </nz-modal>
    </nz-list-item>
    <nz-list-empty *ngIf="timerList.length === 0"></nz-list-empty>
  </nz-list>
</div>

<nz-back-top [nzVisibilityHeight]="300"></nz-back-top>
