<div class="header" *ngIf="isLoggedIn()" tourAnchor="header">
  <div class="header-left">
    <nz-select
      [(ngModel)]="currentServer"
      [nzOptions]="serverList"
      (ngModelChange)="updateCurrentServer()"
      tourAnchor="server"
    ></nz-select>

    <app-button [isIconButton]="true"
                tuiHint="Обновить"
                tuiHintAppearance="onDark"
                tuiHintDirection="bottom"
                shape="rounded"
                iconName="tuiIconRotateCw"
                (action)="updateCurrentServer()" />

    <app-button [isIconButton]="true"
                tuiHint="Скопировать респы"
                tuiHintAppearance="onDark"
                tuiHintDirection="bottom"
                shape="rounded"
                iconName="tuiIconCopy"
                (action)="copyRespText()" />

    <!--                TODO: Add error appearance-->
    <app-button *ngIf="currentRoute == '/timer'"
                [isIconButton]="true"
                tuiHint="Учитывать падение сервера"
                tuiHintAppearance="onDark"
                tuiHintDirection="bottom"
                appearance="green"
                shape="rounded"
                iconName="tuiIconBarChart"
                (action)="showCrashServerModal()" />
  </div>
  <nz-input-group
    nzPrefixIcon="search"
    [nzSuffix]="suffixSearch"
    class="br-50px header-search"
    [ngClass]="{
      'header-d-none': isScreenWidth600,
      'header-d-flex': !isScreenWidth600,
    }"
    *ngIf="currentRoute == '/timer'"
    tourAnchor="search"
  >
    <input
      nz-input
      [(ngModel)]="timerSearchValue"
      (ngModelChange)="timerSearch($event)"
    />
  </nz-input-group>
  <ng-template #suffixSearch>
    <span
      nz-icon
      (click)="onSearchClose()"
      nzType="close-circle"
      *ngIf="isScreenWidth600"
    ></span>
  </ng-template>
  <div class="header-right">
    <app-button *ngIf="currentRoute == '/timer'"
                class="search-button"
                [isIconButton]="true"
                shape="rounded"
                iconName="tuiIconSearch"
                (action)="onSearchOpen()" />

    <app-button *ngIf="!(currentRoute == '/history')"
                [isIconButton]="true"
                iconName="tuiIconBookOpen"
                shape="rounded"
                tuiHint="История"
                tuiHintDirection="bottom"
                tuiHintAppearance="onDark"
                (action)="onHistory()" />

    <app-button *ngIf="!(currentRoute == '/timer')"
                [isIconButton]="true"
                iconName="tuiIconClock"
                shape="rounded"
                tuiHint="Таймер"
                tuiHintDirection="bottom"
                tuiHintAppearance="onDark"
                (action)="onTimer()" />

    <app-button *ngIf="!(currentRoute == '/profile')"
                [isIconButton]="true"
                iconName="tuiIconUser"
                shape="rounded"
                tuiHint="Личный кабинет"
                tuiHintDirection="bottom"
                tuiHintAppearance="onDark"
                (action)="onProfile()" />

    <app-button [isIconButton]="true"
                iconName="tuiIconLogOut"
                tuiHint="Выход"
                tuiHintAppearance="onDark"
                tuiHintDirection="bottom"
                appearance="accent"
                shape="rounded"
                (action)="showLogoutModal()" />
  </div>
</div>
