:host {
  display: block;
  width: 100%;
  height: 53px;
  background-color: rgba(255, 255, 255, 0.7);
}

.green {
  background-color: #bacd92;
  border-color: #bacd92;
}

.red {
  background-color: #ef9595;
  border-color: #ef9595;
}

.header-d-none {
  display: none !important;
}

.header-d-flex {
  display: flex !important;
}

.header-d-inline {
  display: inline !important;
}

.header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  .header-left {
    grid-column: 1/2;

    nz-select,
    button:not(:last-child) {
      margin-right: 10px;
    }

    nz-select {
      width: 90px;
    }
  }

  .header-search {
    grid-column: 2/4;
    max-width: 500px;
    width: 100%;
    height: 32.5px;
    margin: 0 auto;
    display: flex;
  }

  .header-right {
    display: flex;
    justify-content: end;
    grid-column: 4/5;
    text-align: right;

    .search-button {
      display: none;
    }

    .header-navigation-menu {
      display: block;
    }

    .header-navigation-menu-mob {
      display: none;
    }

    button {
      margin-left: 10px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 950px) {
  .header {
    .header-search {
      max-width: 400px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .header {
    .header-search {
      max-width: 300px;
    }
  }
}

@media only screen and (max-width: 750px) {
  .header {
    .header-search {
      max-width: 250px;
    }
  }
}

@media only screen and (max-width: 700px) {
  .header {
    .header-search {
      max-width: 200px;
    }

    .header-right {
      .header-navigation-menu {
        display: none;
      }

      .header-navigation-menu-mob {
        display: inline;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .header {
    .header-search {
      display: none;
      max-width: 100%;
    }

    .header-right {
      .search-button {
        display: inline;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  :host {
    height: 43px;
  }

  .header {
    padding: 5px;

    .header-left {
      nz-select,
      button:not(:last-child) {
        margin-right: 5px;
      }
    }

    .header-right {
      button {
        margin-left: 5px;
      }
    }
  }
}
