<div class="header" *ngIf="isLoggedIn()">
  <div class="header-left">
    <nz-select
      style="width: 95px"
      [(ngModel)]="currentServer"
      [nzOptions]="serverList"
      (ngModelChange)="updateCurrentServer()"
    ></nz-select>
    <button
      nz-button
      nzType="primary"
      (click)="updateCurrentServer()"
      nz-tooltip
      nzTooltipTitle="Обновить"
      nzTooltipPlacement="bottom"
      [nzTooltipMouseEnterDelay]="1"
      nzShape="circle"
    >
      <span nz-icon nzType="reload"></span>
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="copyRespText()"
      nz-tooltip
      nzTooltipTitle="Скопировать респы"
      nzTooltipPlacement="bottom"
      [nzTooltipMouseEnterDelay]="1"
      nzShape="circle"
    >
      <span nz-icon nzType="copy"></span>
    </button>
    <button
      nz-button
      nzType="primary"
      [class]="isOnline === 'online' ? 'green' : 'red'"
      nz-tooltip
      (click)="showCrashServerModal()"
      nzTooltipTitle="Учитывать падение сервера"
      nzTooltipPlacement="bottom"
      [nzTooltipMouseEnterDelay]="1"
      nzShape="circle"
      *ngIf="currentRoute == '/timer'"
    >
      <span nz-icon nzType="api"></span>
    </button>
  </div>
  <div class="header-right">
    <button
      nz-button
      nzType="primary"
      (click)="onHistory()"
      nz-tooltip
      nzTooltipTitle="История"
      nzTooltipPlacement="bottom"
      [nzTooltipMouseEnterDelay]="1"
      *ngIf="!(currentRoute == '/history')"
      nzShape="circle"
    >
      <span nz-icon nzType="history"></span>
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="onTimer()"
      nz-tooltip
      nzTooltipTitle="Таймер"
      nzTooltipPlacement="bottom"
      [nzTooltipMouseEnterDelay]="1"
      *ngIf="!(currentRoute == '/timer')"
      nzShape="circle"
    >
      <span nz-icon nzType="clock-circle"></span>
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="onProfile()"
      nz-tooltip
      nzTooltipTitle="Личный кабинет"
      nzTooltipPlacement="bottom"
      [nzTooltipMouseEnterDelay]="1"
      *ngIf="!(currentRoute == '/profile')"
      nzShape="circle"
    >
      <span nz-icon nzType="user"></span>
    </button>
    <button
      nz-button
      nzType="primary"
      nzDanger
      (click)="showLogoutModal()"
      nz-tooltip
      nzTooltipTitle="Выход"
      nzTooltipPlacement="bottom"
      [nzTooltipMouseEnterDelay]="1"
      nzShape="circle"
    >
      <span nz-icon nzType="logout"></span>
    </button>
  </div>
</div>
