.user {
  .update-excluded-form {
    margin: 0 auto;
    width: 600px;
    display: flex;
    justify-content: space-between;
  }
  .update-excluded-form-center {
    text-align: center;
  }

  .change-password-form {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;

    .change-password-form-button {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 550px) {
  .user {
    .update-excluded-form {
      display: block;
    }
  }
}
