.user {
  h3 {
    font-size: 15.21px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .language-setting,
  .volume-setting {
    display: flex;
    gap: 20px;
  }

  .language-setting {
    align-items: baseline;
  }

  .volume-setting {
    nz-slider {
      width: 100px;
    }
  }

  .update-excluded-form {
    margin: 0 auto;
    width: 700px;
    display: flex;
    justify-content: space-between;
  }
  .update-excluded-form-center {
    text-align: center;
  }

  .change-password-form {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;

    .change-password-form-button {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 550px) {
  .user {
    .update-excluded-form {
      display: block;
    }
  }
}
