<div class="timer-settings container">
  <div class="form-container">
    <h1>"{{ groupName }}"</h1>
    <div *ngIf="isGroupLeader">
      <h2 tourAnchor="lost">{{ "TIMER_SETTINGS.INVITE" | translate }}</h2>
      <div class="generate-form">
        <nz-input-group nzPrefixIcon="number" class="br-50px">
          <input
            class="generate-form-input"
            nz-input
            type="text"
            [(ngModel)]="inviteCode"
            (click)="onInviteCodeClick(inviteCode)"
            readonly
          />
        </nz-input-group>
        <button
          nz-button
          class="generate-form-button"
          [nzType]="'primary'"
          type="submit"
          (click)="onGenerateInviteCode()"
          [nzLoading]="isGenerateLoading"
        >
          {{ "COMMON.BUTTONS.GENERATE" | translate }}
        </button>
      </div>
    </div>

    <h2>
      {{ "TIMER_SETTINGS.NOTIFICATION_SETTINGS" | translate }}
    </h2>
    <div class="notification-setting">
      <div class="volume-setting">
        <h3>{{ "TIMER_SETTINGS.VOLUME_SETTING" | translate }}</h3>
        <nz-slider
          [ngModel]="volume"
          [nzTipFormatter]="volumeFormatter"
          (nzOnAfterChange)="volumeChange($event)"
        ></nz-slider>
      </div>
      <div class="voice-setting" *ngIf="language !== 'en'">
        <h3>{{ "TIMER_SETTINGS.VOICE_SETTING" | translate }}</h3>
        <nz-switch
          [(ngModel)]="switchVoiceValue"
          [nzControl]="true"
          (click)="clickVoiceSwitch()"
        ></nz-switch>
      </div>
    </div>

    <h2>
      {{
        (isGroupLeader
          ? "TIMER_SETTINGS.GROUP_MANAGEMENT"
          : "TIMER_SETTINGS.MEMBER_LIST"
        ) | translate
      }}
    </h2>
    <div *ngIf="isGroupLeader" class="add-mobs-setting">
      <h3>{{ "TIMER_SETTINGS.ADD_MOBS" | translate }}</h3>
      <nz-switch
        [(ngModel)]="switchAddMobsValue"
        [nzControl]="true"
        (click)="clickAddMobsSwitch()"
        [nzLoading]="isSwitchLoading"
      ></nz-switch>
    </div>
    <div class="group-table">
      <nz-table
        #groupTable
        [nzScroll]="{ x: '787px', y: '350px' }"
        [nzData]="userList"
        nzShowPagination
        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
        (nzPageIndexChange)="onPageIndexChange($event)"
        [nzLoading]="isTableLoading"
        [nzPaginationType]="!isScreenWidth550 ? 'default' : 'small'"
        [nzSize]="!isScreenWidth550 ? 'default' : 'small'"
      >
        <thead>
          <tr>
            <th nzWidth="75px" nzAlign="center">#</th>
            <th nzCustomFilter>
              {{ "TIMER_SETTINGS.TABLE.NICKNAME" | translate }}
              <nz-filter-trigger
                [(nzVisible)]="isSearchVisible"
                [nzActive]="searchValue.length > 0"
                [nzDropdownMenu]="menu"
              >
                <button
                  nz-button
                  nzType="primary"
                  nzShape="circle"
                  nzSize="small"
                  nz-tooltip
                  [nzTooltipTitle]="'COMMON.BUTTONS.SEARCH' | translate"
                  [nzTooltipMouseEnterDelay]="1"
                >
                  <span nz-icon nzType="search"></span>
                </button>
              </nz-filter-trigger>
            </th>
            <th
              [nzSortOrder]="null"
              [nzSortFn]="sortStatus"
              [nzSortDirections]="['ascend', 'descend', null]"
              nzWidth="100px"
              nzAlign="center"
            >
              {{ "TIMER_SETTINGS.TABLE.STATUS" | translate }}
            </th>
            <th>{{ "TIMER_SETTINGS.TABLE.EMAIL" | translate }}</th>
            <th class="admin-buttons" *ngIf="isGroupLeader">
              {{ "TIMER_SETTINGS.TABLE.ACTIONS" | translate }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of groupTable.data; let i = index">
            <td nzAlign="center">{{ i + pageSize * (pageIndex - 1) + 1 }}</td>
            <td nzCustomFilter>
              {{ user.nickname }}
              <span
                *ngIf="groupLeaderEmail === user.email"
                nz-icon
                nzType="crown"
              ></span>
            </td>
            <td style="text-align: center">
              <nz-tag nzColor="lime" *ngIf="onlineUserList.includes(user.email)"
                >Online
              </nz-tag>
              <nz-tag
                nzColor="volcano"
                *ngIf="!onlineUserList.includes(user.email)"
                >Offline
              </nz-tag>
            </td>
            <td>{{ user.email }}</td>
            <td class="admin-buttons" *ngIf="isGroupLeader">
              <nz-tag
                nzColor="gold"
                *ngIf="currentUser.nickname === user.nickname"
                >Leader
              </nz-tag>
              <button
                nz-button
                nzType="primary"
                nz-tooltip
                [nzTooltipTitle]="
                  'TIMER_SETTINGS.TABLE.ASSIGN_AS_LEADER' | translate
                "
                [nzTooltipMouseEnterDelay]="1"
                nzShape="circle"
                (click)="onShowTransferModal(user.nickname, user.email)"
                *ngIf="currentUser.nickname !== user.nickname"
              >
                <span nz-icon nzType="crown"></span>
              </button>
              <button
                nz-button
                nzType="primary"
                nzDanger
                nz-tooltip
                [nzTooltipTitle]="'TIMER_SETTINGS.TABLE.DELETE' | translate"
                [nzTooltipMouseEnterDelay]="1"
                (click)="onShowDeleteModal(user.nickname, user.email)"
                nzShape="circle"
                *ngIf="currentUser.nickname !== user.nickname"
              >
                <span nz-icon nzType="delete"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <div class="ant-table-filter-dropdown">
          <div class="admin-search-nickname">
            <div class="admin-search-input">
              <nz-input-group nzPrefixIcon="user" class="br-50px">
                <input
                  type="text"
                  nz-input
                  [placeholder]="'TIMER_SETTINGS.TABLE.SEARCH_USER' | translate"
                  [(ngModel)]="searchValue"
                />
              </nz-input-group>
            </div>
            <button
              nz-button
              nzType="primary"
              (click)="onSearch()"
              class="admin-search-button"
            >
              {{ "COMMON.BUTTONS.SEARCH" | translate }}
            </button>
            <button nz-button (click)="onReset()">
              {{ "COMMON.BUTTONS.RESET" | translate }}
            </button>
          </div>
        </div>
      </nz-dropdown-menu>
    </div>

    <div *ngIf="!isGroupLeader">
      <h2>{{ "TIMER_SETTINGS.LEAVE_GROUP" | translate }}</h2>
      <div class="group-leave">
        <button
          nz-button
          nzType="primary"
          nzDanger
          type="submit"
          (click)="onShowLeaveGroupModal()"
          [nzLoading]="isLeaveGroupLoading"
        >
          {{ "COMMON.BUTTONS.LEAVE" | translate }}
        </button>
      </div>
    </div>

    <div *ngIf="isGroupLeader">
      <h2>{{ "TIMER_SETTINGS.DELETE_GROUP" | translate }}</h2>
      <div class="group-delete">
        <button
          nz-button
          nzType="primary"
          nzDanger
          type="submit"
          (click)="onShowDeleteGroupModal()"
          [nzLoading]="isDeleteGroupLoading"
        >
          {{ "COMMON.BUTTONS.DELETE" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
