.timer-settings {
  .form-container {
    position: relative;
    top: unset;
    left: unset;
    transform: unset;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    min-width: 250px;

    h1 {
      text-align: center;
    }

    h1,
    h2 {
      margin-top: 10px;
    }

    h1,
    h2,
    h3 {
      color: #000000;
      font-weight: 700;
      margin-bottom: 20px;
    }

    // .language-setting,
    .volume-setting,
    .voice-setting,
    .add-mobs-setting {
      display: flex;
      gap: 20px;
    }

    .notification-setting {
      display: flex;
      gap: 50px;
    }

    .volume-setting {
      nz-slider {
        width: 100px;
      }
    }

    .generate-form {
      margin-bottom: 30px;
    }

    .generate-form {
      max-width: 400px;
      display: flex;
      gap: 10px;
    }

    .admin-buttons {
      text-align: center;

      button {
        margin: 0 5px;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .timer-settings {
    .form-container {
      .volume-setting,
      .voice-setting,
      .add-mobs-setting {
        justify-content: space-between;
      }

      .notification-setting {
        display: block;
      }
    }

    .admin-buttons {
      button {
        margin: 0 2.5px;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .timer-settings {
    .form-container {
      padding: 10px;

      .generate-form {
        flex-direction: column;
        width: 100%;

        .generate-form-button {
          width: 100%;
        }
      }

      .group-leave,
      .group-delete {
        button {
          width: 100%;
        }
      }
    }
  }
}
