.login {
  .form-container {
    padding: 20px 50px;
  }

  .form-logo {
    position: relative;
    text-align: center;
    margin-bottom: 30px;

    h2 {
      position: absolute;
      top: 85%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 40px;
      font-weight: 800;
      color: #000;
    }
  }

  .login-form {
    max-width: 300px;
    width: 100%;
    min-width: 250px;

    .login-form-mb-12px {
      margin-bottom: 12px;
    }

    .login-form-mb-16px {
      margin-bottom: 16px;
    }

    .login-form-button {
      width: 100%;
    }
  }

  .login-form-center {
    text-align: center;
  }

  .login-link {
    margin: 20px 0 0;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      flex: 1;
      margin: 0 5px;
      img {
        width: 100%; /* Изображения занимают всю ширину родительского контейнера (ссылки) */
        height: auto; /* Сохраняет соотношение сторон изображения */
        aspect-ratio: 2/1; /* Соотношение сторон */
        display: block;
        border-radius: 5px;
      }
    }

    a:first-child {
      margin-left: 0;
    }

    a:last-child {
      margin-right: 0;
    }
  }

  .login-support {
    margin-top: 16px;

    .login-support-buttons {
      margin-top: 16px;

      a {
        margin: 2.5px;

        img {
          width: 18px;
          height: 18px;
          vertical-align: text-bottom;
          margin-right: 5px;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .form-container {
    padding: 20px 40px;
  }
}
