.login {
  .login-form {
    max-width: 300px;
    width: 100%;
    min-width: 250px;

    .login-form-mb-12px {
      margin-bottom: 12px;
    }

    .login-form-mb-16px {
      margin-bottom: 16px;
    }

    .login-form-button {
      width: 100%;
    }

    .login-form-center {
      text-align: center;
    }
  }
}
