.user-info {
  display: flex;
  align-items: center;

  h3 {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

@media only screen and (max-width: 550px) {
  .user-info {
    display: block;

    h3 {
      margin-right: 0;
    }
  }
}
