/* You can add global styles to this file, and also import other style files */

// * {
//   outline: 1px solid red;
// }

body[data-tui-theme] {
  background: #53c5d4 !important;
}

.ant-table {
  background: #53c5d4;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

// !border-radius start
.ant-input-group > .ant-input:first-child,
.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link,
.ant-pagination-item,
.ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-input-number-affix-wrapper,
.ant-input-number,
.ant-picker,
.br-50px,
.ant-btn {
  border-radius: 50px;
}

.nz-tabs-dropdown.ant-dropdown .ant-dropdown-menu {
  border-radius: 15px;
}

.ant-input-number-handler-wrap {
  border-radius: 0 50px 50px 0;
}

.ant-input-number-handler-up {
  border-top-right-radius: 50px;
}

.ant-input-number-handler-down {
  border-bottom-right-radius: 50px;
}
// !border-radius end

.background {
  position: fixed;
  background-image: url(assets/img/bg-halloween.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.box-shadow {
  box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.4);
  border-radius: 50px;
}

.password-text {
  color: #6f6f6f;
  margin: 10px 5px 0;
}

.form-container {
  padding: 50px;
  box-shadow: 0px 8px 28px -2px rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cdk-global-scrollblock {
  position: unset;
}

.ant-statistic-title {
  margin-bottom: 0;
}

.ant-page-header {
  padding: 0;
}

.ant-page-header-heading-left {
  margin: 0;
}

.ant-modal-content {
  border-radius: 10px;
}

.ant-modal-body {
  p {
    margin-top: 2em;

    .ant-radio-group {
      width: 100%;

      .timer-radio-option {
        text-align: center;
      }
    }
  }

  .ant-timeline-item-content {
    p {
      margin-top: 0;
    }
  }
}

// .ant-modal-footer {
//   text-align: center;
// }

.ant-list-split .ant-list-item {
  border-bottom: 0;
}

.ant-picker {
  width: 40%;
  margin: 10px 5px 0;
}

h4.ant-list-item-meta-title {
  display: flex;
  margin-bottom: 0;

  button {
    margin: 0 5px;
  }
}

span.ant-radio + * {
  margin-top: 20px;
  width: 100%;
}

.ant-radio-wrapper {
  width: 100%;
}

nz-progress {
  display: flex;
  align-items: center;

  .ant-progress-inner {
    width: 100px;
    margin-right: 10px;
  }

  .ant-progress-text {
    display: none;
  }
}

.ant-pagination {
  ul {
    margin: 20px 0;
    text-align: center;
  }
}

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-more,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-more {
  display: none;
}

.ant-dropdown {
  padding: 5px 2.5px;
  background-color: #ffffff;
  // border-radius: 5px;
  border-radius: 20px;
  box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.4);

  button {
    margin: 0 2.5px;
  }
}

.ant-timeline {
  margin: 20px 0;
}

.admin {
  .ant-tag {
    margin-bottom: 8px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 800px) {
  .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab {
    padding: 8px 8px 8px 12px;
  }
}

@media only screen and (max-width: 550px) {
  h4.ant-list-item-meta-title {
    button {
      margin: 0 2.5px;
    }
  }

  .ant-badge-count {
    min-width: 15px;
    height: 15px;
    font-size: 10px;
    line-height: 15px;
    padding: 0 3px;
  }

  .ant-pagination {
    .ant-pagination-total-text {
      display: none;
    }
  }
}

.ant-statistic-content-value {
  // font-family: "Manrope", sans-serif;
  font-weight: 600;
}

@media only screen and (max-width: 450px) {
  .form-container {
    padding: 40px;
  }
}
