.register {
  .register-form-container {
    padding: 0 50px 20px;
    width: 100%;
    max-width: 1000px;

    .register-stepper {
      padding: 24px 0;
    }

    .register-form {
      .steps-content {
        height: 400px;

        .register-form-info {
          margin: 0 auto;
          max-width: 300px;
          width: 100%;
          min-width: 250px;
        }

        .register-form-excluded {
          height: 380px;
          overflow: scroll;
          margin: 0 auto;
          max-width: 600px;
          width: 100%;
          display: flex;
          justify-content: space-between;
        }

        .register-form-mb-12px {
          margin-bottom: 12px;
        }

        .register-form-center {
          text-align: center;
        }
      }
    }
    .steps-action {
      text-align: center;

      button {
        margin: 5px 5px 0;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .register {
    .register-form-container {
      .register-form {
        .steps-content {
          .register-form-excluded {
            display: block;
          }
        }
      }
    }
  }
}
