<div class="background">
  <div class="register container">
    <div class="form-container register-form-container">
      <nz-steps
        nzSize="small"
        [nzCurrent]="currentStep"
        class="register-stepper"
        nzProgressDot
      >
        <nz-step
          [nzTitle]="'REGISTER.STEP_1' | translate"
          [nzDescription]="'REGISTER.GENERAL' | translate"
        ></nz-step>
        <nz-step
          [nzTitle]="'REGISTER.STEP_2' | translate"
          [nzDescription]="'REGISTER.DISPLAY' | translate"
        ></nz-step>
      </nz-steps>

      <form
        nz-form
        class="register-form"
        [formGroup]="form"
        (ngSubmit)="onVerifyOTP()"
        autocomplete="off"
      >
        <div class="steps-content" *ngIf="currentStep === 0">
          <div class="register-form-info">
            <nz-form-item>
              <nz-form-control [nzErrorTip]="nicknameErrorTpl">
                <nz-input-group nzPrefixIcon="user" class="br-50px">
                  <input
                    nz-input
                    formControlName="nickname"
                    [placeholder]="'REGISTER.NICKNAME' | translate"
                    name="mix"
                    minlength="4"
                    required
                    appCapitalize
                    autocomplete="off"
                    readonly
                    onfocus="this.removeAttribute('readonly')"
                  />
                </nz-input-group>
              </nz-form-control>
              <ng-template #nicknameErrorTpl let-control>
                <div *ngIf="control.errors?.required">
                  {{ "COMMON.VALIDATIONS.NICKNAME_REQUIRED" | translate }}
                </div>
                <div
                  *ngIf="!control.errors?.required && control.errors?.minlength"
                >
                  {{
                    "COMMON.VALIDATIONS.NICKNAME_MIN_LENGTH"
                      | translate: { value: 4 }
                  }}
                </div>
                <div
                  *ngIf="!control.errors?.required && control.errors?.maxlength"
                >
                  {{
                    "COMMON.VALIDATIONS.NICKNAME_MAX_LENGTH"
                      | translate: { value: 16 }
                  }}
                </div>
                <div
                  *ngIf="
                    !control.errors?.required &&
                    control.errors?.tooManyUppercase
                  "
                >
                  {{ "COMMON.VALIDATIONS.NICKNAME_MAX_UPPER" | translate }}
                </div>
                <div
                  *ngIf="
                    !control.errors?.required && control.errors?.containsSpaces
                  "
                >
                  {{ "COMMON.VALIDATIONS.NICKNAME_NO_SPACES" | translate }}
                </div>
                <div
                  *ngIf="
                    !control.errors?.required &&
                    control.errors?.containsSpecialCharacters
                  "
                >
                  {{
                    "COMMON.VALIDATIONS.NICKNAME_NO_SPECIAL_CHARS" | translate
                  }}
                </div>
                <div
                  *ngIf="
                    !control.errors?.required &&
                    control.errors?.invalidHyphenPosition
                  "
                >
                  {{
                    "COMMON.VALIDATIONS.NICKNAME_NO_HYPHEN_START_END"
                      | translate
                  }}
                </div>
                <div
                  *ngIf="
                    !control.errors?.required && control.errors?.tooManyHyphens
                  "
                >
                  {{ "COMMON.VALIDATIONS.NICKNAME_MAX_ONE_HYPHEN" | translate }}
                </div>
                <div
                  *ngIf="
                    !control.errors?.required && control.errors?.containsNumbers
                  "
                >
                  {{ "COMMON.VALIDATIONS.NICKNAME_NO_NUMBERS" | translate }}
                </div>
                <div
                  *ngIf="
                    !control.errors?.required &&
                    control.errors?.mixedCyrillicAndLatin
                  "
                >
                  {{
                    "COMMON.VALIDATIONS.NICKNAME_NO_MIXED_SCRIPTS" | translate
                  }}
                </div>
              </ng-template>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control
                [nzErrorTip]="'COMMON.VALIDATIONS.EMAIL_REQUIRED' | translate"
              >
                <nz-input-group nzPrefixIcon="mail" class="br-50px">
                  <input
                    nz-input
                    formControlName="email"
                    [placeholder]="'REGISTER.EMAIL' | translate"
                    name="mix"
                    email
                    required
                    autocomplete="off"
                    readonly
                    onfocus="this.removeAttribute('readonly')"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="passwordErrorTpl">
                <nz-input-group
                  nzPrefixIcon="lock"
                  [nzSuffix]="suffixTemplate"
                  class="br-50px"
                >
                  <input
                    nz-input
                    [type]="passwordVisible ? 'text' : 'password'"
                    formControlName="password"
                    [placeholder]="'REGISTER.PASSWORD' | translate"
                    name="mix"
                    minlength="6"
                    required
                    autocomplete="off"
                    readonly
                    onfocus="this.removeAttribute('readonly')"
                  />
                </nz-input-group>
              </nz-form-control>
              <ng-template #passwordErrorTpl let-control>
                <div *ngIf="control.errors?.required">
                  {{ "COMMON.VALIDATIONS.PASSWORD_REQUIRED" | translate }}
                </div>
                <div
                  *ngIf="!control.errors?.required && control.errors?.minlength"
                >
                  {{
                    "COMMON.VALIDATIONS.PASSWORD_MIN_LENGTH"
                      | translate: { value: 6 }
                  }}
                </div>
                <div
                  *ngIf="!control.errors?.required && control.errors?.maxlength"
                >
                  {{
                    "COMMON.VALIDATIONS.PASSWORD_MAX_LENGTH"
                      | translate: { value: 64 }
                  }}
                </div>
                <div
                  *ngIf="
                    !control.errors?.required && control.errors?.missingNumber
                  "
                >
                  {{ "COMMON.VALIDATIONS.PASSWORD_MISS_NUMBER" | translate }}
                </div>
                <div
                  *ngIf="
                    !control.errors?.required &&
                    control.errors?.missingUpperCase
                  "
                >
                  {{
                    "COMMON.VALIDATIONS.PASSWORD_MISS_UPPER_LATIN" | translate
                  }}
                </div>
                <div
                  *ngIf="
                    !control.errors?.required &&
                    control.errors?.missingLowerCase
                  "
                >
                  {{
                    "COMMON.VALIDATIONS.PASSWORD_MISS_LOWER_LATIN" | translate
                  }}
                </div>
              </ng-template>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control
                [nzErrorTip]="
                  'COMMON.VALIDATIONS.PASSWORD_MISMATCH' | translate
                "
              >
                <nz-input-group
                  nzPrefixIcon="lock"
                  [nzSuffix]="suffixTemplate"
                  class="br-50px"
                >
                  <input
                    nz-input
                    [type]="passwordVisible ? 'text' : 'password'"
                    formControlName="confirmPassword"
                    [placeholder]="'REGISTER.CONFIRM_PASSWORD' | translate"
                    name="mix"
                    matching
                    required
                    autocomplete="off"
                    readonly
                    onfocus="this.removeAttribute('readonly')"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <ng-template #suffixTemplate>
              <span
                nz-icon
                [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                (click)="passwordVisible = !passwordVisible"
              ></span>
            </ng-template>
            <div class="register-form-center">
              <a [routerLink]="['/login']">{{
                "REGISTER.HAVE_ACCOUNT" | translate
              }}</a>
            </div>
          </div>
        </div>
        <div class="steps-content" *ngIf="currentStep === 1">
          <div nz-row class="register-form-excluded">
            <nz-form-item>
              <nz-form-control>
                <nz-checkbox-wrapper
                  style="width: 100%"
                  (nzOnChange)="onChangeCheckbox($event, 'Босс')"
                >
                  <div>
                    <h4>
                      <span
                        nz-icon
                        nzType="question-circle"
                        nzTheme="outline"
                        [nzTooltipTitle]="
                          'REGISTER.EXCLUDE_BOSSES_DESCRIPTION' | translate
                        "
                        nzTooltipPlacement="bottom"
                        nz-tooltip
                      ></span>
                      {{ "REGISTER.EXCLUDE_BOSSES_TITLE" | translate }}
                    </h4>
                    <div
                      formArrayName="excludedBosses"
                      *ngFor="
                        let boss of excludedBosses.controls;
                        let i = index
                      "
                    >
                      <label
                        nz-checkbox
                        [formControlName]="i"
                        [nzValue]="bossesCheckboxList[i]._id"
                      >
                        <span class="mob-name">{{
                          !duplicatedMobList.includes(
                            bossesCheckboxList[i].mobName
                          )
                            ? bossesCheckboxList[i].mobName
                            : bossesCheckboxList[i].mobName +
                              ": " +
                              bossesCheckboxList[i].location
                        }}</span>
                      </label>
                    </div>
                  </div>
                </nz-checkbox-wrapper>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <nz-checkbox-wrapper
                  style="width: 100%"
                  (nzOnChange)="onChangeCheckbox($event, 'Элитка')"
                >
                  <div>
                    <h4>
                      <span
                        nz-icon
                        nzType="question-circle"
                        nzTheme="outline"
                        [nzTooltipTitle]="
                          'REGISTER.EXCLUDE_ELITES_DESCRIPTION' | translate
                        "
                        nzTooltipPlacement="bottom"
                        nz-tooltip
                      ></span>
                      {{ "REGISTER.EXCLUDE_ELITES_TITLE" | translate }}
                    </h4>
                    <div
                      formArrayName="excludedElites"
                      *ngFor="
                        let boss of excludedElites.controls;
                        let i = index
                      "
                    >
                      <label
                        nz-checkbox
                        [formControlName]="i"
                        [nzValue]="elitesCheckboxList[i]._id"
                      >
                        <span class="mob-name">{{
                          !duplicatedMobList.includes(
                            elitesCheckboxList[i].mobName
                          )
                            ? elitesCheckboxList[i].mobName
                            : elitesCheckboxList[i].mobName +
                              ": " +
                              elitesCheckboxList[i].location
                        }}</span>
                      </label>
                    </div>
                  </div>
                </nz-checkbox-wrapper>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
      <div class="steps-action">
        <button
          nz-button
          nzType="default"
          (click)="prev()"
          *ngIf="currentStep > 0"
          nzShape="round"
        >
          <span>{{ "COMMON.BUTTONS.BACK" | translate }}</span>
        </button>
        <button
          nz-button
          nzType="default"
          (click)="next()"
          *ngIf="currentStep < 1"
          [disabled]="form.invalid"
          nzShape="round"
        >
          <span>{{ "COMMON.BUTTONS.NEXT" | translate }}</span>
        </button>
        <button
          nz-button
          nzType="primary"
          (click)="done()"
          *ngIf="currentStep === 1"
          nzShape="round"
          [nzLoading]="registerLoading"
        >
          <span>{{ "COMMON.BUTTONS.VERIFY_EMAIL" | translate }}</span>
        </button>
        <nz-modal
          [(nzVisible)]="isModalVisible"
          [nzFooter]="otpFooter"
          (nzOnCancel)="cancelModal()"
          nzCentered
        >
          <p *nzModalContent class="modal-center">
            <span class="otp-modal-name">{{
              "REGISTER.MODAL.CONFIRM_EMAIL" | translate
            }}</span>
            <ngx-otp-input
              [options]="otpOptions"
              (otpComplete)="onCompleteOTP($event)"
              (otpChange)="onChangeOTP($event)"
              class="otp-modal-input"
            ></ngx-otp-input>
            <span class="otp-modal-timer" *ngIf="otpTimer">{{
              "REGISTER.MODAL.OTP_TIMER" | translate: { seconds: otpTimer }
            }}</span>

            <span class="otp-modal-timer" *ngIf="!otpTimer"
              >{{ "REGISTER.MODAL.OTP_INVALID" | translate }}
              <button (click)="onSendOTP()" class="new-otp">
                {{ "COMMON.BUTTONS.GET_NEW_OTP" | translate }}
              </button></span
            >
          </p>

          <ng-template #otpFooter>
            <button nz-button nzType="default" (click)="cancelModal()">
              {{ "COMMON.BUTTONS.CANCEL" | translate }}
            </button>
            <button
              nz-button
              nzType="primary"
              [disabled]="isVerifyDisabled"
              (click)="onVerifyOTP()"
              [nzLoading]="isModalLoading"
            >
              {{ "COMMON.BUTTONS.VERIFY" | translate }}
            </button>
          </ng-template>
        </nz-modal>
      </div>
    </div>
  </div>
</div>
