<div class="history container">
  <nz-skeleton *ngIf="isLoading | async"></nz-skeleton>

  <div class="history" *ngIf="!(isLoading | async)">
    <nz-page-header class="site-page-header" nzBackIcon>
      <nz-page-header-title>Назад</nz-page-header-title>
      <nz-page-header-extra>
        <app-info [user]="user"></app-info>
      </nz-page-header-extra>
    </nz-page-header>
    <app-log [historyList]="historyList"></app-log>
    <nz-list-empty *ngIf="historyList.length === 0"></nz-list-empty>
  </div>
</div>
