<nz-skeleton *ngIf="isLoading | async" class="container"></nz-skeleton>

<div *ngIf="!(isLoading | async)" class="history container">
  <nz-page-header class="site-page-header" nzBackIcon (nzBack)="onTimer()">
    <nz-page-header-title (click)="onBack($event)" style="cursor: pointer"
      >Таймер</nz-page-header-title
    >
    <nz-page-header-extra>
      <app-info [user]="user"></app-info>
    </nz-page-header-extra>
  </nz-page-header>
  <app-log
    [historyList]="historyList"
    [historyListData]="historyListData"
    [mobName]="''"
  ></app-log>
</div>
