<nz-pagination
  [nzPageIndex]="historyListData?.page"
  [nzTotal]="historyListData?.total || 0"
  nzShowSizeChanger
  [nzPageSize]="pageSize"
  [nzShowTotal]="rangeTemplate"
  (nzPageIndexChange)="changePage($event, mobId)"
  (nzPageSizeChange)="changePageSize($event, mobId)"
  [nzSize]="!isScreenWidth550 ? 'default' : 'small'"
></nz-pagination>

<ng-template #rangeTemplate let-range="range" let-total>
  {{ range[0] }}-{{ range[1] }} {{ "LOG.OF" | translate }} {{ total }}
</ng-template>

<div class="log container">
  @if (isLoading) {
    <nz-skeleton [nzActive]="true"></nz-skeleton>
  }

  @if (!isLoading) {
    <nz-timeline>
      @for (item of historyList; track trackByHistoryItem($index, item)) {
        <nz-timeline-item [nzColor]="$any(getUserColor(item.role))">
          <p>
            <nz-tag nzColor="gold"
              ><b>{{ item.date | date: "dd/MM/yyyy - HH:mm:ss" }}</b> </nz-tag
            >{{ "LOG.USER" | translate }}
            <nz-tag [nzColor]="getUserColor(item.role)"
              >{{ item.nickname }}
            </nz-tag>
            {{ "LOG.UPDATED" | translate }}
            @if (!(item.historyTypes == "crashMobServer")) {
              <nz-tag nzColor="blue">{{ item.mobName }}</nz-tag>
            }
            <nz-tag nzColor="cyan">{{ getInputMethod(item) }}</nz-tag>
          </p>
          @if (item.historyTypes == "updateMobByCooldown") {
            <p>
              {{ "LOG.INITIAL_COOLDOWN" | translate }}
              <nz-tag nzColor="gold">{{ item.fromCooldown }} </nz-tag>
            </p>
          }
          @if (item.historyTypes == "updateMobByCooldown") {
            <p>
              {{ "LOG.UPDATED_COOLDOWN" | translate }}
              <nz-tag nzColor="gold">{{ item.toCooldown }} </nz-tag>
            </p>
          }
          @if (
            !(item.historyTypes == "crashMobServer") &&
            !(item.historyTypes == "respawnLost")
          ) {
            <p>
              {{ "LOG.RESPAWN_TIME" | translate }}
              <nz-tag nzColor="gold"
                >{{ item.toWillResurrect | date: "HH:mm:ss" }}
              </nz-tag>
            </p>
          }
          <!-- <p>
              Время возрождение:
              <nz-tag nzColor="gold"
                >{{ item.toWillResurrect | date : "HH:mm:ss" }}
              </nz-tag>
            </p> -->
        </nz-timeline-item>
      }
    </nz-timeline>
  }
  @if (historyList.length === 0) {
    <nz-list-empty></nz-list-empty>
  }
</div>

<!-- <nz-pagination
  [nzPageIndex]="page"
  [nzTotal]="historyListData.total"
  nzShowSizeChanger
  [nzPageSize]="pageSize"
  [nzShowTotal]="rangeTemplate"
  (nzPageIndexChange)="changePage($event)"
  (nzPageSizeChange)="changePageSize($event)"
></nz-pagination> -->

<nz-float-button-top [nzVisibilityHeight]="300"></nz-float-button-top>
