<nz-pagination
  [nzPageIndex]="historyListData.page"
  [nzTotal]="historyListData.total"
  nzShowSizeChanger
  [nzPageSize]="pageSize"
  [nzShowTotal]="rangeTemplate"
  (nzPageIndexChange)="changePage($event, mobId)"
  (nzPageSizeChange)="changePageSize($event, mobId)"
  [nzSize]="!isScreenWidth550 ? 'default' : 'small'"
></nz-pagination>

<ng-template #rangeTemplate let-range="range" let-total>
  {{ range[0] }}-{{ range[1] }} {{ "LOG.OF" | translate }} {{ total }}
</ng-template>

<div class="log container">
  <nz-skeleton [nzActive]="true" *ngIf="isLoading"></nz-skeleton>

  <nz-timeline *ngIf="!isLoading">
    <nz-timeline-item
      [nzColor]="getUserColor(item.role)"
      *ngFor="let item of historyList"
    >
      <p>
        <nz-tag nzColor="gold"
          ><b>{{ item.date | date: "dd/MM/yyyy - HH:mm:ss" }}</b> </nz-tag
        >{{ "LOG.USER" | translate }}
        <nz-tag [nzColor]="getUserColor(item.role)"
          >{{ item.nickname }}
        </nz-tag>
        {{ "LOG.UPDATED" | translate }}
        <nz-tag
          nzColor="blue"
          *ngIf="!(item.historyTypes == 'crashMobServer')"
          >{{ item.mobName }}</nz-tag
        >
        <nz-tag nzColor="cyan">{{ getInputMethod(item) }}</nz-tag>
      </p>
      <p *ngIf="item.historyTypes == 'updateMobByCooldown'">
        {{ "LOG.INITIAL_COOLDOWN" | translate }}
        <nz-tag nzColor="gold">{{ item.fromCooldown }} </nz-tag>
      </p>
      <p *ngIf="item.historyTypes == 'updateMobByCooldown'">
        {{ "LOG.UPDATED_COOLDOWN" | translate }}
        <nz-tag nzColor="gold">{{ item.toCooldown }} </nz-tag>
      </p>
      <p
        *ngIf="
          !(item.historyTypes == 'crashMobServer') &&
          !(item.historyTypes == 'respawnLost')
        "
      >
        {{ "LOG.RESPAWN_TIME" | translate }}
        <nz-tag nzColor="gold"
          >{{ item.toWillResurrect | date: "HH:mm:ss" }}
        </nz-tag>
      </p>
      <!-- <p>
        Время возрождение:
        <nz-tag nzColor="gold"
          >{{ item.toWillResurrect | date : "HH:mm:ss" }}
        </nz-tag>
      </p> -->
    </nz-timeline-item>
  </nz-timeline>
  <nz-list-empty *ngIf="historyList.length === 0"></nz-list-empty>
</div>

<!-- <nz-pagination
  [nzPageIndex]="page"
  [nzTotal]="historyListData.total"
  nzShowSizeChanger
  [nzPageSize]="pageSize"
  [nzShowTotal]="rangeTemplate"
  (nzPageIndexChange)="changePage($event)"
  (nzPageSizeChange)="changePageSize($event)"
></nz-pagination> -->

<nz-back-top [nzVisibilityHeight]="300"></nz-back-top>
